# dependencies
node_modules/

# next.js
.next/
out/

# environment variables
.env.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
# --------------------
# Python / ML ignores
# --------------------

# virtual environments
venv/
ml-model/venv/

# python cache
__pycache__/
*.pyc

# ML model weights (large files)
# Removed ignores: our custom model is only 84KB and required for Render deployment.

# Tensorflow / keras temp files
*.ckpt
*.pb